@model IEnumerable<EGSHOPNOMINA2.Transacciones>

@{
    ViewBag.Title = "Transacciones";
}
<h2>Transacciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Empleado
        </th>
        <th>
            Ingreso o Deduccion
        </th>
        <th>
            Tipo Transaccion
        </th>
        <th>
            Fecha
        </th>
        <th>
            Monto
        </th>
        <th>
            Estado
        </th>
        <th>Acciones</th>
    </tr>
    <tr>
        <td>
            Arturo Reyes
        </td>
        <td>
            Ingreso <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Transferencia
        </td>
        <td>
            2023-10-28 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            $500 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Activo <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = 1 }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = 1 }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = 1 })
        </td>
    </tr>
    <tr>
        <td>
            Pamela Suarez
        </td>
        <td>
            Deducción <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Transferencia
        </td>
        <td>
            2023-10-27 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            $200 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Pendiente <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = 2 }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = 2 }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = 2 })
        </td>
    </tr>
    <tr>
        <td>
            Alberto Guzman
        </td>
        <td>
            Deducción <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Efectivo
        </td>
        <td>
            2023-10-26 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            $350 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Activo <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = 3 }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = 3 }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = 3 })
        </td>
    </tr>
    <tr>
        <td>
            Luis Rodriguez
        </td>
        <td>
            Ingreso <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Cheque
        </td>
        <td>
            2023-10-25 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            $600 <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            Pendiente <!-- Ejemplo de valor fijo -->
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = 4 }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = 4 }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = 4 })
        </td>
    </tr>
</table>
